<section class="forecast-today pb-5">
  <h2>Today's Forecast</h2>
  <dl>
    <dt>Location</dt>
    <dd><%= @request.location %></dd>
    <dt>Current Temperature</dt>
    <dd><%= @request.current_forecast.temp %></dd>
    <dt>Current High Temperature</dt>
    <dd><%= @request.current_forecast.high_temp %>
    <dt>Current Low Temperature</dt>
    <dd><%= @request.current_forecast.low_temp %>
    <dt>Cache Status</dt>
    <dd><%= @request.cache_hit? ? "Cache Hit" : "Cache Missed" %></dd>
  </dl>
</section>
<section class="forecast-daily pb-5">
  <h2>Daily Forecast</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Summary</th>
        <th scope="col">Temperature</th>
      </tr>
    </thead>
    <tbody>
      <% @request.daily_forecasts.each do |forecast| %>
        <tr>
          <td><%= forecast.timestamp.strftime("%a, %b %e") %></td>
          <td><%= forecast.summary %></td>
          <td><%= forecast.high_temp %> / <%= forecast.low_temp %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>